<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Registration Form</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <style>
      /* Custom styles */
      body {
        background-color: #f8f9fa;
      }

      .vertical-center {
        min-height: 100vh;
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="container vertical-center">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h2 class="text-center mb-4">Registration Form</h2>
            <form
              th:action="@{/public/registerProcess}"
              th:object="${user}"
              method="post"
            >
              <div class="form-group">
                <label for="username">Username:</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  th:field="*{username}"
                />
              </div>

              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  name="email"
                  th:field="*{email}"
                  
                />
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  th:field="*{password}"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
