<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{Admine/base::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Management</title>
    <!-- Include Bootstrap CSS -->
  </head>
  <body>
    <section>
      <div class="container">
        <h2>Book Management</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Author</th>
            
              <th>Price</th>
              <th>Added By Admin</th>
              <th>Genres</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="book : ${books}">
              <td th:text="${book.id}"></td>
              <td th:text="${book.title}"></td>
              <td th:text="${book.author}"></td>

              <td th:text="${book.price}"></td>
              <td th:text="${book.addedByAdminUsername}"></td>
              <td>
                <span
                  th:each="genre : ${book.genres}"
                  class="badge bg-success me-1"
                >
                  <span th:text="${genre}"></span>
                </span>
              </td>
              <td>
                <a
                  th:href="@{'/admin/books/edit/' + ${book.id}}"
                  class="btn btn-primary"
                  >Edit</a
                >
                <a
                  th:href="@{'/admin/books/delete/' + ${book.id}}"
                  class="btn btn-danger"
                  >Delete</a
                >
                <a
                  th:href="@{'/admin/books/getBook/' + ${book.id}}"
                  class="btn btn-outline-primary"
                  >View Details</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <!-- Include Bootstrap JS (if needed) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->
  </body>
</html>
