<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dynamic Navigation Bar</title>
  </head>
  <body>
    <div th:fragment="navbars">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Admin Dashboard</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/books/getallemployees}"
                  >Employee Management</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/roles/getroles}"
                  >Role Management</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/books/getallBooks}"
                  >Book Management</a
                >
              </li>
              
              
              <!-- Add more admin features as needed -->
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{public//logout}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- navbar end -->
    </div>
  </body>
</html>
